{{#extend "layout"}}
    {{#content "body"}}
        {{#each msg}}
            <div>
                <span>{{nickname}}</span>
                <span>{{isNew}}</span>
            </div>
        {{/each}}
    {{/content}}
{{/extend}}